.container {
    margin-top: 40px;
}

.reg{
    padding-top: 50px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    width: 8em
}

.form-signin{
    margin: 0 auto;
    max-width: 400px;
}