{% extends 'base.html.twig' %}

{% block body %}
    <div class="art">
        <div class="container">
            <h1>Diabetes Care</h1>
            <p>You have signed up to the app with your specified illness being Diabetes. Try exploring our app</p>
        </div>
    </div>
{% endblock %}
